service:
  extensions: [jaeger_storage, jaeger_query]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter]
  telemetry:
    resource:
      service.name: jaeger
    logs:
      level: DEBUG

extensions:
  jaeger_query:
    storage:
      traces: opensearch_trace_storage
      metrics: opensearch_metrics_storage
  jaeger_storage:
    backends:
      opensearch_trace_storage: &opensearch_config
        opensearch:
          server_urls:
            - http://opensearch:9200
    metric_backends:
      opensearch_metrics_storage:
        opensearch:
          server_urls:
            - http://opensearch:9200

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: opensearch_trace_storage
